In [ ]:
# when we request data through API's 
# data is received in the json file format
# jsone file format can be parsed into different languages like java , python etc.

In [ ]:
# sequel 
# structured query language
# directly from databases

In [2]:
import pandas as pd

In [3]:
# to read json file
pd.read_json("train.json")

          id      cuisine                                        ingredients
0      10259        greek  [romaine lettuce, black olives, grape tomatoes...
1      25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2      20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3      22213       indian                [water, vegetable oil, wheat, salt]
4      13162       indian  [black pepper, shallots, cornflour, cayenne pe...
...      ...          ...                                                ...
39769  29109        irish  [light brown sugar, granulated sugar, butter, ...
39770  11462      italian  [KRAFT Zesty Italian Dressing, purple onion, b...
39771   2238        irish  [eggs, citrus fruit, raisins, sourdough starte...
39772  41882      chinese  [boneless chicken skinless thigh, minced garli...
39773   2362      mexican  [green chile, jalapeno chilies, onions, ground...

[39774 rows x 3 columns]

In [ ]:
# load from a url

pd.read_json("paste the url")

#  SQL  FILES

In [ ]:
# download xamp
# make a new database of the sql file
# in this database import that data

In [ ]:
# import mysql.connector

In [4]:
pip install mysql.connector

Collecting mysql.connectorNote: you may need to restart the kernel to use updated packages.

  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ---------------------------------------- 11.9/11.9 MB 9.0 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (setup.py): started
  Building wheel for mysql.connector (setup.py): finished with status 'done'
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp310-cp310-win_amd64.whl size=247974 sha256=91e638bb76111b17da3c7cb67b2a6db54691b4e69a9f1d4248328e686342d2d8
  Stored in directory: c:\users\bhumu\appdata\local\pip\cache\wheels\76\48\9b\da67ff1a18fe8e9d428f9b1a177716d4a7d363d2bbe83bf6cf
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector-2.2.9

WARNING: Ignoring invalid distribution -ip (c:\users\bhumu\appdata\local\programs\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\users\bhumu\appdata\local\programs\python\python310\lib\site-packages)

In [5]:
import mysql.connector

In [7]:
# mysql.connector.connect(host="localhost",user="root",password="",database="world")